.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__logo {
  display: block;
  width: 136px;
  height: 105px;
}

.header__logo-image {
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  text-transform: lowercase;
  font-size: 18px;
}

.header__links-list-item_no-bullit{
  list-style-type: none;
}

.header__link-active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  justify-self: end;
  max-width: 240px;
}

.header__address {
  line-height: 24px;
}

.cover {
  margin: 0 0 180px 0;
  padding: 50px;
  background: url(/images/cover.jpg);
}

.description {

}

.lots {
  margin: 0 24px 120px 24px;
}

.about {
  margin: 0 24px 180px 24px;
}

.footer {

}