.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  text-transform: lowercase;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link-active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  justify-self: end;
  max-width: 240px;
}

.header__address {
  line-height: 24px;
}

.cover {
  position: relative;
  margin: 0 0 180px 0;
  padding: 165px 50px 50px 50px;
  background: url(/images/cover.jpg);
  background-position: center;
  min-height: 757px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.cover__title {
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  position: relative;
  z-index: 1;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
  margin-bottom: 17px;
} 


.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-left: 31px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 105px;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  word-spacing: 19px;
}

.word-spacing-extended {
  word-spacing: 18px;
} 

.word-spacing-reduced {
  word-spacing: 17px;
}

.bet-button {
  padding: 12px 32px 11px 31px;
  border: 1px solid white;
  background: transparent;
  justify-self: flex-start;
}
.bet-button-text {
  text-transform: uppercase;
  font-size: 22px;
  color: white;
}

.lots {
  margin: 0 24px 120px 24px;
}

.about {
  margin: 0 24px 180px 24px;
}

.footer {

}